@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  background-color: #6e7c7c;
  color: #e3e3e3;
  font-family: "Architects Daughter", cursive;
}

.title {
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.btn {
  height: 180px;
  width: 180px;
  border: 16px solid #435560;
  border-radius: 32px;
  padding: 1em;
  background-color: #c8c6a7aa;
  box-shadow: 0 0 5px 2px #435560aa;
  transition: all 0.05s;
}

.btn:hover {
  box-shadow: 0 0 10px 10px #435560aa;
  transform: scale(1.1);
  cursor: pointer;
}

img {
  height: 100%;
  pointer-events: none;
}

.controls {
  padding-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

.scoreboard {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
  text-align: center;
}

th {
  text-decoration: underline;
}

.message {
  height: 40px;
  text-align: center;
  font-size: 1.2em;
}

.round-result {
  height: 40px;
  margin-top: 2em;
  text-align: center;
  font-size: 1.6em;
}

@media only screen and (max-width: 768px) {
  .btn {
    height: 45px;
    width: 45px;
  }
  .title {
    font-size: 1.1em;
  }
  h1 {
    font-size: 1.5em;
  }
  .scoreboard {
    font-size: 1.6em;
  }
}
